:root {
    --white-color: #fff;
    --text-color: #222;
    --primary-color:#f65e39;
}
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: var(--text-color);
}

.grid {
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
}
.grid-full-width {
    max-width: calc(1500px - 45px );
    margin: 0 auto;
}
.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}
.grid-column {
    width: 50%;
}
.grid-column-2 {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100%/2);
}
.grid-column-3 {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100%/3);
}
.grid-column-4 {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100%/4);
}
.grid-column-5 {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100%/5);
}

.mr12 {
    margin: 0 12px 0 0;
}
.mt24 {
    margin: 24px 0 0 ;
}
.btn {
    text-decoration: none;
    list-style: none;
    outline: none;
    background-color: var(--white-color);
    border: none;
}