
.header {
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: var(--white-color);
    border-bottom: 1px solid #f2f2f2;
    top: 0;
}
.header__container {
    margin: 5px 0;
    padding: 0 45px;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-list {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
.header__navbar-logo-link {
    padding: 10px;
    background: rgba(0,0,0,.04);
    border-radius: 50%;
    display: inherit;
    color: var(--text-color);
}
.header__navbar-logo-link:hover {
    color:var(--primary-color);
    transition: color linear 0.3s;
    
}
.svg-fill {
    fill: currentColor;
}
.header__navbar-box {
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
    transition: transform .4s;
    display: flex;
    border-radius: 5px;
    margin-left: 15px;
    align-items: center;
}
.header__navbar-search {
    display: flex;
    align-items: center;

}
.active {
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 14%);
    color: #000;
}
.header__search-iner {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    line-height: 27px
}

.search-location {
    position: relative;
    width: 300px;
}

.search-find {
    outline: none;
    border: none;
    flex: 1;
    background: transparent;
    padding: 0;
    line-height: 27px;
}

.search-date,
.search-guest {
    position: relative;
    cursor: pointer;
}
.search-find,
.search-date p,
.search-guest p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
}


.search-date::before,
.search-location::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #6666;
    top: 4px;
    right: 0;
}
.btn-search {
    background-color: #555;
    padding: 0 21px;
    height: 36px;
    border-radius: 5px;
    margin: 0 0.4rem;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}


.header__navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

}

.item__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 20px;
    font-weight: 500;
}
.isbecom {
    position: relative;
    padding: 5px 10px;
    font-weight: 700;
}
.isbecom::before {
    content: "";
    position:absolute;
    width:5px ;
    height: 5px ;
    border-radius: 50%;
    background: #fb9236;
    right: 3px;
    top: 3px;
}
.headeer__navbar-item-inner {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    padding: 5px 28px 5px 5px;
    border-radius: 2rem;
    position: relative;
}
.header__navbarbar-menu-img {
    display: block;
    width: 22px;
    max-width: 100%;
}
.header__navbarbar-menu-language {
    margin: 0 0 0 6px;
}
.header__navbarbar-icon {
    position: absolute;
    right: 12px;
    top: 6px;
}

/* slider */
.slider {
    margin-top: calc(+120px) ;
    padding: 0 45px;
}
.slider__img {
    border-radius: 20px;
    width: 100%;
}

/* content */
.content {
    padding: 0 45px;
    margin-top: 50px;
    margin-bottom: 16px;
}
/* content1 */
.content-first__heading {
    margin: 0;
    font-size: 2.4rem;
    line-height: 4.8rem;
}
.content-first__text1 {
    margin: 0 0 6px;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.content-first__text2 {
    font-size: 1.6rem;
    margin: 0;
    line-height: 2.4rem;
}
.content-first__link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

/* content2 */
.content-second {
    margin: 50px 0 0;
}
.content-second__heading {
    font-size: 2.4rem;
    line-height: 4rem;
    margin: 0;
}
.content-second__text {
    margin: 8px 0 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.content-second__wrapper {
    margin: 16px 0 0;
}
.content-second__item {
    height: 300px;
    width: 240px;
    position: relative;
}
.product__content {
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.product__title {
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--white-color);
    margin: 12px 0 4px;
    font-weight: 600;
}
.product__place {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: hsla(0,0%,100%,.9);
}

.conten-second__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}

/* content3 */
.content-third {
    margin: 60px 0 0;
}
.content-third__heading {
    font-size: 2.4rem;
    line-height: 4rem;
    margin: 0;
}
.content-third__text {
    display: flex;
    justify-content: space-between;
    line-height: 2.4rem;
}

.content-third__text p {
    margin: 8px 0 0;
    font-size: 1.6rem;
}
.content-third__text p:last-child {
    color: var(--prmary-color);
}
.content-third__wapper {
    margin: 12px 0 0;
}

.content-third__img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
}
.content-third__img--blur1 {box-shadow: 6px 10px 10px 2px #cff4e7;}
.content-third__img--blur2 {box-shadow: 6px 10px 10px 2px #fef1e9;}
.content-third__img--blur3 {box-shadow: 6px 10px 10px 2px #fff8dd;}


/* content4 */
.content-fourth {
    margin: 60px 0 0;
}
.content-fourth__heading {
    font-size: 2.4rem;
    line-height: 4rem;
    margin: 0;
}
.content-fourth__text {
    line-height: 2.4rem;
    margin: 8px 0 0;
    font-size: 1.6rem;
}
.content-fourth__wapper {
    margin: 16px 0 0;
}

.content-fourth__link:hover .img-about__text {
    color: var(--primary-color);
    transition: linear 0.2s;
}
.content-fourth__link {
    text-decoration: none;
    color: var(--text-color);
}
.content-fourth__img {
    width: 100%;
}
.content-fourth__img--about {
    margin: 12px 0 0;
}
.img-about__title {
    font-size: 1.2rem;
    margin: 0 0 8px;
    color: #555555;
    line-height: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.img-about__text {
    font-size: 1.6rem;
    margin: 0 0 16px;
    color: rgb(116 119 126);
    line-height: 2rem;
}

/* content5 */
.content-fifth {
    margin: 60px 0 0;
}
.content-fifth__heading {
    font-size: 2.4rem;
    line-height: 4rem;
    margin: 0;
}
.content-fifth__text {
    line-height: 2.4rem;
    margin: 8px 0 0;
    font-size: 1.6rem;
}
.content-fifth__wapper {
    margin: 16px 0 0;
}
.content-fifth__item {
    width: 100%;
    width: 421px;
    height: 280px;
    background-image: linear-gradient(0, #919191, #eee);
    position: relative;
    cursor: pointer;
}
.content-fifth__item:before {
    content: "";
    display: block;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.5));
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 0;
    left: 0;
}

.post__header {
    height: calc(100% - 95px);
    padding: 24px;
}
.post__category:hover{
    background-color: #5f5f5f;
    transition: linear .3s;
}
.post__category {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    display: inline-block;
    letter-spacing: 1.2px;
    border-radius: 20px;
    padding: 5px 29px;
    background-color: #bebebe;
    text-transform: uppercase;
}
.post__title-bold {
    padding: 24px;
}
.post__category-title {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.9rem;
    font-weight: 700;
    position: relative;
    display: block;
    line-height: 2.4rem;
}

/* content6 */
.content-sixth {
    margin: 60px 0 0;
}
.content-sixth__heading {
    font-size: 2.4rem;
    line-height: 4rem;
    margin: 0;
}
.content-sixth__text {
    line-height: 2.4rem;
    margin: 8px 0 0;
    font-size: 1.6rem;
}
.content-sixth__wapper {
    margin: 16px 0 0;
}
.content-sixth__img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
}

/* content7 */
.content-seventh {
    margin: 60px 0 0;
}
svg.mb--18.mb--sm-42.app-introduce__logo.svg-icon.svg-fill {
    width: 343px;
    margin-bottom: 18px;
}
.content-seventh__wapper {
    display: flex;
}
.content-seventh__heading {
    font-size: 3rem;
    margin: 0 0 25px;
    line-height: 3.7rem;
}
.content-seventh__wapper p {
    font-size: 1.6rem;
    margin: 0 0 16px;
    line-height: 2.4rem;
}
.content-seventh__app {
    margin: 48px 0 0;
}
.content-seventh__app-QR {
    display: inline-block;
    padding: 12px;
    margin-right: 12px;
    border: 1px solid rgba(0,0,0,.09);
}
.img-qrCode {
    width: 180px;
    height: 159px;
}

.content-seventh__app-Play {
    display: flex;
    flex-wrap: wrap;
}
.content-seventh__app-link {
    margin-bottom: 18px;
    display: block;
    max-width: 50%;
    padding: 0 8px;
}
.img-app-svg {
    height: 56px;
    width: 100%;
}
.img-app-box {
    max-width: 100%;
    height: auto;
}

/* footer */
.footer {
    padding: 0 45px;
    margin-top: 50px;
}
.footer a:hover {
    color: var(--primary-color);
    transition: linear 0.15s;
}
.footer__top {
    margin-bottom: 50px;
}
.widget {
    margin: 16px 0 0;
}
.widget__title {
    margin: 0 0 20px;
    font-size: 1.4rem;
    line-height: initial;
    font-weight: 900;
    text-transform: uppercase;
}
.widget__menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget__menu-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 3.2rem;
}
.widget__text-about-item {
    display: flex;
}
.about-item__content {
    margin: 0 0 0 8px;
    font-size: 1.4rem;
}
p.extra-bold {
    margin: 0;
    line-height: 2.1rem;
}
.about-item__content a {
    line-height: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}
.widget__menu-down {
    display: flex;
}

.footer__qr-code {
    border: 1px solid rgba(0,0,0,.09);
    padding: 12px;
    margin: 0 12px 0 0;
}
.footer__qr-code-img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.footer__app-link {
    display: inline-block;
    margin: 0 0 18px;
}
.footer__app-link-img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.widget--box-left {
    max-width: 40%;
    margin: 0 0 0 20%;
}
.d-flex {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget--box-right {
    max-width: 40%;
    display: flex;
}
.certificate-box {
    display: flex;
    margin: 0 -8px;
}
.certificate-box a {
    display: block;
    padding: 0 8px;
    text-decoration: none;
    max-width: 42%;
}
.certificate-box-img {
    max-width: 100%;
}
.social__link {
    display: inline-block;
    text-transform: none;
    font-size: 1.4rem;
}
.social__link:nth-child(2), .social__link:nth-child(3) {
    padding: 0 0 0 12px;
}
.footer__bottom {
    border-top: 1px solid #f2f2f2;
    padding: 24px 15px;
    font-weight: 400;
    letter-spacing: .23px;
    font-size: 1.4rem;
    color: #999;
}
.footer__bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.footer__bottom-text {
    margin: 0;
    line-height: 2.1rem;
}
.footer__bottom-text:nth-child(2),
.footer__bottom-text:nth-child(3) {
    margin-top: 6px;
}
